<!--The content below is only a placeholder and can be replaced.-->
<!-- Image and text -->
<div>
<nav class="navbar navbar-light bg-light">
  <div >
    <div class="ui menu">
      <div class="header item">
        <i class="utensils icon" ></i>
      </div>
      <a class="item" href="#">
        About Us
      </a>
      <a class="item" href="#">
        Recipes
      </a>
      
        <div class="ui simple dropdown item">
          Dropdown
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><a href="##">Choice 1</a></div>
            <div class="item">Choice 2</div>
            <div class="item">Choice 3</div>
          </div>
        </div>
    
      <a class="items" >
        <span style="padding-left: 380px;padding-right: 630px;font-family: serif 2em ;color: brown">{{title}}</span>
      </a>
    </div>
  </div>
</nav>


<hr>
  <div>
     <app-recipes></app-recipes>
  </div>
<p></p>
  <div>
     <app-shopping-list></app-shopping-list>
</div>  
</div>
